<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Estudos'">
	<head>
		<title th:text="${htmlTitle}"></title>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index(active=true)}"></li>
				</ol>
			</nav>
			<div class="row mb-3">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"><img src="/img/biblia-32.png"> <a href="/estudos/biblia">Bíblia</a></h3>
						</div>
						<div class="card-body">
							Estudos relativos à Bíblia em geral
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
