<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Mt 1'">
	<head>
		<title th:text="${htmlTitle}"></title>
		<script>
			$(document).ready(function() {
				// Checkboxes de Bíblias
				$("#chkCNBB2008").on("change", function() {
					$(".colCNBB2008").toggle();
				});

				// Highlight dos versículos
				$(".numVersiculo span").each(function(index, element) {
					const classe = $(this)[0].classList[0];
					$("." + classe).hover(
						function() {
							$("." + classe).css('background-color', '#ff6');
						}, 
						function() {
							$("." + classe).css('background-color', 'transparent');
						}
					);
				});
			});
		</script>
		<style>
			.texto td.numVersiculo {
				text-align: right;
				font-size: 0.5rem;
				vertical-align: top;
			}

			/* Formatação do texto */

			.texto p {
				margin-bottom: 0;
			}

			.texto sup {
				font-size: 0.5rem;
			}

			.texto .titulo1 {
				font-size: 1.2rem;
				font-weight: bold;
				text-align: center;
			}

			.texto .titulo2 {
				background-color: #ccc;
				font-size: 1.1rem;
				font-weight: bold;
				text-align: center;
			}

			.texto .paragrafo {
				text-indent: 10pt;
			}

			.texto .citacao {
				margin-left: 10pt;
			}

			.texto .notaDeRodape {
				border-top: 1px solid black;
			}
		</style>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li class="breadcrumb-item">Texto</li>
					<li class="breadcrumb-item active" th:text="${htmlTitle}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<img src="/img/estudos-32.png">
					<span th:text="${htmlTitle}"></span>
				</span>
			</h1>
			<th:block th:replace="~{estudos/biblia/_fragments :: toolbar_minhas_biblias()}"></th:block>
			<table class="texto">
				<thead>
					<tr>
						<th title="Versículo">v</th>
						<th class="colCNBB2008">CNBB2008</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td class="titulo colCNBB2008">
							<p class="titulo1">
								O NASCIMENTO DO MESSIAS
							</p>
							<p class="titulo2">
								Genealogia de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_1">1</span>
						</td>
						<td class="textoVersiculo colCNBB2008">
							<p class="paragrafo">
								<span class="mt_1_1"><sup>1</sup>Livro da origem de Jesus Cristo, filho de Davi, filho de Abraão:</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_2">2</span>
						</td>
						<td class="textoVersiculo colCNBB2008" rowspan="5">
							<p class="paragrafo">
								<span class="mt_1_2"><sup>2</sup>Abraão gerou Isaac, Isaac gerou Jacó, Jacó gerou Judá e seus irmãos,</span>
								<span class="mt_1_3"><sup>3</sup>Judá gerou Farés e Zara, de Tamar. Farés gerou Esrom; Esrom gerou Aram;</span>
								<span class="mt_1_4"><sup>4</sup>Aram gerou Aminadab; Aminadab gerou Naasson; Naasson gerou Salmon;</span>
								<span class="mt_1_5"><sup>5</sup>Salmon gerou Booz, de Raab. Booz gerou Obed, de Rute. Obed gerou Jessé.</span>
								<span class="mt_1_6"><sup>6</sup>Jessé gerou o rei Davi.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_3">3</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_4">4</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_5">5</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo" rowspan="2">
							<span class="mt_1_6">6</span>
						</td>
					</tr>
					<tr>
						<!-- 6, cont. -->
						<td class="textoVersiculo colCNBB2008" rowspan="6">
							<p class="paragrafo">
								<span class="mt_1_6">Davi gerou Salomão, da mulher de Urias.</span>
								<span class="mt_1_7"><sup>7</sup>Salomão gerou Roboão; Roboão gerou Abias; Abias gerou Asa;</span>
								<span class="mt_1_8"><sup>8</sup>Asa gerou Josafá; Josafá gerou Jorão; Jorão gerou Ozias;</span>
								<span class="mt_1_9"><sup>9</sup>Ozias gerou Jotão; Jotão gerou Acaz; Acaz gerou Ezequias;</span>
								<span class="mt_1_10"><sup>10</sup>Ezequias gerou Manassés; Manassés gerou Amon; Amon gerou Josias.</span>
								<span class="mt_1_11"><sup>11</sup>Josias gerou Jeconias e seus irmãos, no tempo do exílio na Babilônia.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_7">7</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_8">8</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_9">9</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_10">10</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_11">11</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_12">12</span>
						</td>
						<td class="textoVersiculo colCNBB2008" rowspan="5">
							<p class="paragrafo">
								<span class="mt_1_12"><sup>12</sup>Depois do exílio na Babilônia, Jeconias gerou Salatiel; Salatiel gerou Zorobabel;</span>
								<span class="mt_1_13"><sup>13</sup>Zorobabel gerou Abiud; Abiud gerou Eliaquim; Eliaquim gerou Azor;</span>
								<span class="mt_1_14"><sup>14</sup>Azor gerou Sadoc; Sadoc gerou Aquim; Aquim gerou Eliud;</span>
								<span class="mt_1_15"><sup>15</sup>Eliud gerou Eleazar; Eleazar gerou Matã; Matã gerou Jacó.</span>
								<span class="mt_1_16"><sup>16</sup>Jacó gerou José, o esposo de Maria, da qual nasceu Jesus, que é chamado o Cristo.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_13">13</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_14">14</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_15">15</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_16">16</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_17">17</span>
						</td>
						<td class="textoVersiculo colCNBB2008">
							<p class="paragrafo">
								<span class="mt_1_17"><sup>17</sup>No total, pois, as gerações desde Abraão até Davi são quatorze; de Davi até o exílio na Babilônia, quatorze; e do exílio na Babilônia até o Cristo, quatorze.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="titulo colCNBB2008">
							<p class="titulo2">
								Nascimento de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo" rowspan="2">
							<span class="mt_1_18">18</span>
						</td>
						<td class="textoVersiculo colCNBB2008">
							<p class="paragrafo">
								<span class="mt_1_18"><sup>18</sup>Ora, a origem de Jesus Cristo foi assim:</span>
							</p>
						</td>
					</tr>
					<tr>
						<!-- 18, cont. -->
						<td class="textoVersiculo colCNBB2008" rowspan="4">
							<p class="paragrafo">
								<span class="mt_1_18">Maria, sua mãe, estava prometida em casamento a José e, antes de passarem a conviver, ela encontrou-se grávida pela ação do Espírito Santo.</span>
								<span class="mt_1_19"><sup>19</sup>José, seu esposo, sendo justo e não querendo denunciá-la publicamente, pensou em despedi-la secretamente.</span>
								<span class="mt_1_20"><sup>20</sup>Mas, no que lhe veio esse pensamento, apareceu-lhe em sonho um anjo do Senhor, que lhe disse: “José, Filho de Davi, não tenhas receio de receber Maria, tua esposa; o que nela foi gerado vem do Espírito Santo.</span>
								<span class="mt_1_21"><sup>21</sup>Ela dará à luz um filho, e tu lhe porás o nome de Jesus, pois ele vai salvar o seu povo dos seus pecados”.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_19">19</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_20">20</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_21">21</span>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_22">22</span>
						</td>
						<td class="textoVersiculo colCNBB2008">
							<p class="paragrafo">
								<span class="mt_1_22"><sup>22</sup>Tudo isso aconteceu para se cumprir o que o Senhor tinha dito pelo profeta:</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_23">23</span>
						</td>
						<td class="textoVersiculo colCNBB2008">
							<p class="citacao">
								<span class="mt_1_23"><sup>23</sup><i>“Eis que a virgem ficará grávida e dará à luz um filho. Ele será chamado pelo nome de Emanuel</i>, que significa: <i>Deus-conosco”.</i></span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_24">24</span>
						</td>
						<td class="textoVersiculo colCNBB2008" rowspan="2">
							<p class="paragrafo">
								<span class="mt_1_24"><sup>24</sup>Quando acordou, José fez conforme o anjo do Senhor tinha mandado e acolheu sua esposa.</span>
								<span class="mt_1_25"><sup>25</sup>E não teve relações com ela até o dia em que deu à luz o filho, ao qual ele pôs o nome de Jesus.</span>
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">
							<span class="mt_1_25">25</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="notaCapitulo colCNBB2008">
							<p class="notaDeRodape">
								&diams;<u>1,1-17</u> Através de José, <b>Jesus é juridicamente descendente de Abraão e da casa de Davi</b> (da qual devia nascer o Messias). Os vv. 18-25 mostrarão sua origem divina. <sup>></sup>Lc 3,23-38.
								&bull; <span class="mt_1_1"><b>1</b> <i>Livro da origem</i>: outras trds.: <i>genealogia / lista dos antepassados / das gerações</i> (<sup>></sup>Gn 5,1). O termo <i>origem</i> volta no <span class="mt_1_18">v. 18</span>. Os termos <i>genealogia, gerar, nascer, origem</i> são aparentados no grego.</span>
								&bull; <span class="mt_1_2"><b>2</b> <sup>></sup>Gn 21,2s; 25,26; 29,32-30,24.</span>
								&bull; <b>3-6</b> <sup>></sup>Rt 4,18-22. Mt menciona na genealogia cinco mulheres, todas elas ilustrando os caminhos imprevisíveis de Deus: <span class="mt_1_3">v. 3: <i>Tamar</i> ganhou um filho de Judá de modo astucioso, sendo porém mais justa do que ele (<sup>></sup>Gn 38,29s)</span>; <span class="mt_1_5">v. 5 <i>Raab</i>, a prostituta (<sup>></sup>Js 2); <i>Rute</i>, a moabita (<sup>></sup>Rt)</span>; <span class="mt_1_6">v. 6, Betsabéia, lit: <i>a que foi de Urias</i> (<sup>></sup>2Sm 12,24)</span>; e no <span class="mt_1_16">v. 16, <i>Maria</i></span>.
								&bull; <b>7-12</b> <sup>></sup>1Cr 3,10-19.
								&bull; <span class="mt_1_16"><b>16</b> <sup>></sup>Lc 1,27.</span>
								&diams;<u>1,18-25</u> <b>Sinal da origem divina de Jesus. Realiza-se a profecia do "Emanuel"</b>.
								&bull; <b>18-20</b> <sup>></sup>Lc 1,35.
								&bull; <span class="mt_1_18"><b>18</b> a origem, <span class="mt_1_1"><sup>></sup>v. 1</span></span>.
								&bull; <span class="mt_1_19">19 <i>justo</i> = observante da Lei, mas num espírito que anuncia a prática de Jesus. Quis evitar o foro público, com possível apedrejamento de Maria.</span>
								<span class="mt_1_21"><b>21</b> <sup>></sup>Lc 1,31; 2,21.
								&bull; <i>Jesus</i> significa Deus salva.</span>
								<span class="mt_1_23"><b>23</b> <sup>></sup>Is 7,14<sup>G</sup> + Is 8,8.10<sup>G</sup>.</span>
								<span class="mt_1_25">&bull; 25 <i>sem... relacões conjugais</i>: lit.: <i>E ele não a conheceu</i> (semit.).</span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
