footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}

footer p {
    margin-bottom: 0px;
}

#crudLista .botoes {
    padding: 0;
    white-space: nowrap;
    width: 0;
}

#crudLista .botoes div.btn-group {
    margin: 1px;
}

#crudLista .botoes button {
    font-size: .90rem;
}

#crudLista small {
    padding-left: 1rem;
    font-style: italic;
}
