<!-- breadcrumb_index() -->
<li th:fragment="breadcrumb_index()" th:with="active=${active} ?: false, text=${text} ?: 'Tarefas'" th:class="'breadcrumb-item' + (active ? ' active' : '')">
	<img src="/img/tarefa-16.png">
	<a th:if="${!active}" th:text="${text}" href="/tarefa"></a>
	<span th:if="${active}" th:text="${text}"></span>
</li>

<script th:fragment="script()">
	document.addEventListener("DOMContentLoaded", () => {
		document.addEventListener("click", async (e) => {
			const linkExcluir = e.target.closest(".acao-excluir");
			if (linkExcluir) {
				e.preventDefault();
				const id = linkExcluir.dataset.id;
				if (await Ui.confirma("Tem certeza que deseja excluir esta tarefa?")) {
					Ui.showLoading();
					$.ajax({
						url: "/api/v1/tarefa/" + id,
						type: "DELETE",
						success: function () {
							Ui.sucesso("Tarefa excluída com sucesso");
							linkExcluir.closest("tr").remove();
							Ui.hideLoading();
						},
						error: function (xhr) {
							Ui.erro(xhr.responseJSON ? xhr.responseJSON.mensagem : xhr.statusText);
							Ui.hideLoading();
						}
					});
				}
			}

			const chkMarcar = e.target.closest(".acao-marcar");
			if (chkMarcar) {
				e.preventDefault();
				const id = chkMarcar.dataset.id;
				Ui.showLoading();
				$.ajax({
					url: "/api/v1/tarefa/" + id + "/marcar",
					type: "PATCH",
					success: function () {
						chkMarcar.checked = true;
						chkMarcar.classList.replace("acao-marcar", "acao-desmarcar");
						Ui.hideLoading();
					},
					error: function (xhr) {
						Ui.erro(xhr.responseJSON ? xhr.responseJSON.mensagem : xhr.statusText);
						Ui.hideLoading();
					}
				});
			}

			const chkDesmarcar = e.target.closest(".acao-desmarcar");
			if (chkDesmarcar) {
				e.preventDefault();
				const id = chkDesmarcar.dataset.id;
				Ui.showLoading();
				$.ajax({
					url: "/api/v1/tarefa/" + id + "/desmarcar",
					type: "PATCH",
					success: function () {
						chkDesmarcar.checked = false;
						chkDesmarcar.classList.replace("acao-desmarcar", "acao-marcar");
						Ui.hideLoading();
					},
					error: function (xhr) {
						Ui.erro(xhr.responseJSON ? xhr.responseJSON.mensagem : xhr.statusText);
						Ui.hideLoading();
					}
				});
			}

			const chkDesmarcarTodas = e.target.closest(".acao-desmarcar-todas");
			if (chkDesmarcarTodas) {
				e.preventDefault();
				if (await Ui.confirma("Tem certeza que deseja desmarcar todas as tarefas?")) {
					Ui.showLoading();
					$.ajax({
						url: "/api/v1/tarefa/desmarcarTodas",
						type: "PATCH",
						success: function () {
							$('#crudLista input:checkbox').prop('checked', false);
							Ui.hideLoading();
						},
						error: function (xhr) {
							Ui.erro(xhr.responseJSON ? xhr.responseJSON.mensagem : xhr.statusText);
							Ui.hideLoading();
						}
					});
				}
			}
		});
	});
</script>

<style th:fragment="style()">
	table .btn-group img {
		vertical-align: center;
	}

	.btn.disabled {
		border-width: 0;
	}
</style>

<!-- theadTr() -->
<tr th:fragment="theadTr()">
	<th colspan="2">
		Tarefa
		<div class="btn-group float-end" role="group">
			<a
					th:href="@{'/tarefa/incluir'}"
					type="button"
					class="btn btn-sm bg-success-subtle"
					title="Incluir">
				<img src="/img/button-incluir.png">
			</a>
			<a
					href="#"
					type="button"
					class="acao-desmarcar-todas btn btn-sm bg-warning-subtle"
					title="Desmarcar todas">
				<img src="/img/tarefa-limpar-tudo.png">
			</a>
		</div>
	</th>
</tr>

<!-- tbodyTr(tarefa) -->
<tr th:fragment="tbodyTr(tarefa)" th:id="'tarefa-' + ${tarefa.id}">
	<td>
		<span th:text="${#strings.repeat('&nbsp;', 6 * tarefa.indent)}"></span>
		<span class="col-1" style="width: 1px !important">
			<input
					type="checkbox"
					th:class="'acao-' + (${tarefa.cumprida} ? 'des' : '') + 'marcar form-check-input me-1'"
					th:checked="${tarefa.cumprida}"
					th:attr="data-id=${tarefa.id}">
		</span>
		<span class="col">
			<label th:utext="${tarefa.titulo}" class="form-check-label"></label>
			<small th:utext="${tarefa.descricao}"></small>
		</span>
	</td>
	<td class="botoes d-print-none">
		<div class="btn-group" role="group">
			<!-- TODO Subir para primeiro -->
			<!-- TODO Subir ordem -->
			<!-- TODO Descer ordem -->
			<a
					th:href="@{'/tarefa/' + ${tarefa.id}} + '/mover/final'"
					type="button"
					th:class="|btn btn-sm bg-info-subtle${(tarefa.ultimoFilho == 0) ? '' : ' disabled'}|"
					title="Mover para o final">
				<img src="/img/button-bottom.png">
			</a>
			<!-- TODO Incluir subtarefa -->
			<a
					th:href="@{'/tarefa/' + ${tarefa.id}} + '/alterar'"
					type="button"
					class="btn btn-sm bg-warning-subtle"
					title="Alterar">
				<img src="/img/button-alterar.png">
			</a>
			<a
					href="#"
					type="button"
					class="acao-excluir btn btn-sm bg-danger-subtle"
					th:attr="data-id=${tarefa.id}"
					title="Excluir">
				<img src="/img/button-excluir.png">
			</a>
		</div>
	</td>
</tr>
