<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Baú do Zé : Tarefas</title>
		<th:block th:insert="~{_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<h1><span><img src="/img/tarefa-c-32.png"> Nova Tarefa</span></h1>
				<form th:object="${data.tarefa}" th:action="@{'/tarefa/incluir_ok'}" method="POST">
					<div class="mb-3">
						<label for="nome" class="form-label">Nome</label>
						<input th:field="*{nome}" id="nome" name="nome" type="text" class="form-control" required>
					</div>
					<div class="mb-3">
						<label for="notas" class="form-label">Notas</label>
						<input th:field="*{notas}" id="notas" name="notas" type="text" class="form-control">
					</div>
					<div class="mb-3">
						<label for="peso" class="form-label">Peso</label>
						<input th:field="*{peso}" id="peso" name="peso" type="number" class="form-control" required>
					</div>
					<div class="mb-3">
						<label for="idMae" class="form-label">Tarefa "mãe"</label>
						<select th:field="*{idMae}" id="idMae" name="idMae" class="form-select">
							<option value=""></option>
							<option th:each="tarefa : ${data.tarefasMae}" th:value="${tarefa.id}" th:utext="${tarefa.nome}"></option>
						</select>
					</div>
					<div class="btn-group mb-3">
						<button type="submit" class="btn btn-sm bg-success-subtle" title="Ok">✅ Ok</button>
						<a th:href="@{'/tarefa'}" type="button" class="btn bg-danger-subtle" title="Cancelar">❌ Cancelar</a>
					</div>
				</form>
			</div>
		</div>
		<footer th:replace="~{_fragments/geral.html :: footer}"></footer>
	</body>
</html>
