<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Baú do Zé : Tarefas</title>
		<th:block th:insert="~{_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div id="mensagens" class="mt-3"></div>
			<div id="conteudo">
				<h1>
					<span><img src="/img/tarefa-32.png"> Tarefas</span>
					<div id="toolbar" class="btn-toolbar float-end d-print-none">
						<div class="btn-group">
							<a th:href="@{'/tarefa/incluir'}" type="button" class="btn bg-success-subtle" title="Incluir">➕</a>
							<button id="btnUnselectAll" type="button" class="btn bg-warning-subtle" title="Desmarcar todas">🧹</button></div>
						</div>
					</div>
				</h1>
				<th:block th:if="${#lists.isEmpty(tarefas)}">
					<p>Não há tarefas cadastradas.</p>
				</th:block>
				<th:block th:if="${!#lists.isEmpty(tarefas)}">
					<div id="select" class="mb-3">
						<table class="table table-sm table-hover">
							<thead>
								<tr id="selectTitle">
									<th>
										Tarefa
									</th>
									<th class="botoes d-print-none">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tarefa : ${tarefas}">
									<td>
										<span class="row" th:classappend ="${tarefa.indent} ? 'indent' + ${tarefa.indent} : ''">
											<span class="col-1" style="width: 1px !important">
												<input class="form-check-input me-1" type="checkbox" th:checked="${tarefa.cumprida}">
											</span>
											<span class="col">
												<label th:utext="${tarefa.nome}" class="form-check-label"></label>
												<small th:utext="${tarefa.notas}"></small>
											</span>
										</span>
									</td>
									<td class="botoes d-print-none">
										<div class="btn-group" role="group">
											<a th:href="@{'/tarefa/' + ${tarefa.id}} + '/alterar'" type="button" class="btn btn-sm bg-warning-subtle" title="Alterar">✏</a>
											<form class="btn-group" method="POST" th:action="@{'/tarefa/' + ${tarefa.id}} + '/excluir'">
												<input type="hidden" name="id" th:value="${tarefa.id}">
												<button type="submit" class="btn btn-sm bg-danger-subtle" title="Excluir">🗑</button>
											</form>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</th:block>
			</div>
		</div>
		<footer th:replace="~{_fragments/geral.html :: footer}"></footer>
	</body>
</html>
