<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Baú do Zé : Tarefas</title>
		<th:block th:insert="~{_fragments/geral.html :: head}"></th:block>
	</head>
	<body>
		<nav th:replace="~{_fragments/geral.html :: nav}"></nav>
		<div class="container-fluid">
			<div th:replace="~{_fragments/geral.html :: mensagens}"></div>
			<div id="conteudo">
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><img src="/img/bau-16.png"><a href="/">Baú</a></li>
						<li class="breadcrumb-item active"><img src="/img/tarefa-16.png">Tarefas</li>
					</ol>
				</nav>
				<h1>
					<span><img src="/img/tarefa-32.png"> Tarefas</span>
					<div id="toolbar" class="btn-toolbar float-end d-print-none">
						<div class="btn-group">
							<a th:href="@{'/tarefa/incluir'}" type="button" class="btn bg-success-subtle" title="Incluir"><img src="/img/button-incluir.png" style="padding-bottom: 3px;"></a>
							<!--
							<button id="btnUnselectAll" type="button" class="btn bg-warning-subtle" title="Desmarcar todas"><img src="/img/tarefa-button-desmarcar-todas.png" style="padding-bottom: 3px;"></button></div>
							-->
						</div>
					</div>
				</h1>
				<th:block th:if="${#lists.isEmpty(tarefas)}">
					<p>Não há tarefas cadastradas.</p>
				</th:block>
				<th:block th:if="${!#lists.isEmpty(tarefas)}">
					<div id="crudLista" class="mb-3">
						<table class="table table-sm table-hover">
							<thead>
								<tr id="selectTitle">
									<th>Tarefa</th>
									<th class="botoes d-print-none">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tarefa : ${tarefas}">
									<td>
										<span th:text="${#strings.repeat('&nbsp;', 6 * tarefa.indent)}"></span>
										<span class="col-1" style="width: 1px !important">
											<input class="form-check-input me-1" type="checkbox" th:checked="${tarefa.cumprida}">
										</span>
										<span class="col">
											<label th:utext="${tarefa.titulo}" class="form-check-label"></label>
											<small th:utext="${tarefa.descricao}"></small>
										</span>
									</td>
									<td class="botoes d-print-none">
										<div class="btn-group" role="group">
											<!-- TODO Incluir filha -->
											<a
													th:href="@{'/tarefa/' + ${tarefa.id}} + '/alterar'"
													type="button"
													class="btn btn-sm bg-warning-subtle"
													title="Alterar">
												<img src="/img/button-alterar.png">
											</a>
											<form
													th:id="'delete-form-' + ${tarefa.id}"
													th:action="@{'/tarefa/' + ${tarefa.id}} + '/excluir'"
													method="post"
      												style="display:none;">
											</form>
											<a
													href="#"
													type="button"
													class="btn btn-sm bg-danger-subtle"
													title="Excluir"
													th:onclick="'if(confirm(\'Tem certeza que deseja excluir esta tarefa?\')) document.getElementById(\'delete-form-' + ${tarefa.id} + '\').submit(); return false;'">
												<img src="/img/button-excluir.png">
											</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</th:block>
			</div>
		</div>
		<footer th:replace="~{_fragments/geral.html :: footer}"></footer>
	</body>
</html>
