<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Home'">
	<head>
		<title th:text="${htmlTitle}"></title>
	</head>
	<body>
		<div layout:fragment="conteudo" style="min-height: 520px;">
			<img src="/img/bau-512.png" style="width: 512px; float: right;">
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">
						<img src="/img/bau-16.png">
						<span>Baú</span>
					</li>
				</ol>
			</nav>
			<div class="row mb-3">
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"><img src="/img/biblia-32.png"> <a href="/biblia">Bíblias</a></h3>
						</div>
						<div class="card-body">
							Repositório de Bíblias
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"><img src="/img/tarefa-32.png"> <a href="/tarefa">Tarefas</a></h3>
						</div>
						<div class="card-body">
							Cadastro de tarefas
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
