<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_fragments::head}"></head>
    <script>
        $(document).ready(function() {
            // Inicialização dos campos

            $('#obras').multiselect({
                buttonTextAlignment: 'left',
                enableFiltering: true
            });

            $('#editoras').multiselect({
                buttonTextAlignment: 'left',
                enableFiltering: true
            });

            $('#etiquetas').multiselect({
                buttonTextAlignment: 'left',
                enableFiltering: true
            });

            $('#ano').attr('max', new Date().getFullYear());

            // Ações do toolbar

            function editar() {
                $('#toolbar').attr('disabled', true);
                $('#fields').removeAttr('disabled');
                $('#actions').removeClass('d-none');
            }

            $("#toolbarAlterar").on('click', function(event) {
                editar();
                $('input[name="_method"]').val('put');
                $('#actionAlterar').removeClass('d-none');
            });

            $("#toolbarExcluir").on('click', function(event) {
                $('#toolbar').attr('disabled', true);
                $('input[name="_method"]').val('delete');
                $('#actions').removeClass('d-none');
                $('#actionExcluir').removeClass('d-none');
            });

            // Ações do form
            // TODO Por causa dos três botões temos problemas com o enter

            $("#actionAlterar").on('click', function(event) {
                // Não precisa de código; é o submit do form
                // TODO desabilitar botões + spinner
            });

            $("#actionIncluir").on('click', function(event) {
                // Não precisa de código; é o submit do form
                // TODO desabilitar botões + spinner
            });

            $("#actionCancelar").on('click', function(event) {
                $('#fields').attr('disabled', true);
                $('#actions').addClass('d-none');
                if ($('#estadoPagina').val() == 'CREATE') {
                    window.location = window.location + 's'; // volta pra lista de livros
                } else {
                    window.location = window.location; // window.location.reload() dá problema após o submit
                }
            });

            // Estado da página

            if ($('#estadoPagina').val() == 'CREATE') {
                editar();
                $('input[name="_method"]').val('post');
                $('#actionIncluir').removeClass('d-none');
            }

            if ($('#estadoPagina').val() == 'UPDATE') {
                $("#toolbarAlterar").click();
            }
        });
    </script>
    <body>
        <nav th:replace="~{_fragments::nav}"></nav>
        <div class="container-fluid">
            <h1>Livro</h1>
            <div class="initialSpinner spinner-border"></div>
            <form class="initiallyHidden" th:object="${livro}">
                <input type="hidden" name="_method" value="post"><!-- Esse é o método real do form; isso é uma gambiarra oficial do thymeleaf. -->
                <input type="hidden" th:field="*{estadoPagina}">
                <fieldset id="toolbar">
                    <div class="row">
                        <div class="col">
                            <button id="toolbarIncluir" type="button" class="btn btn-primary"><span class="whiteBorder">➕</span> Incluir</button>
                            <button id="toolbarAlterar" type="button" class="btn btn-primary"><span class="whiteBorder">✏️</span> Alterar</button>
                            <button id="toolbarExcluir" type="button" class="btn btn-danger"><span class="whiteBorder">🗑</span> Excluir</button>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="fields" disabled>
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="titulo" class="form-label">Título</label>
                                    <input type="text" th:class="'form-control' + ${livro.exceptionMap.get('titulo') == null ? '' : ' is-invalid'}" th:field="*{titulo}">
                                    <div id="titulo:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('titulo')}"></div>
                                </div>
                                <div class="col">
                                    <label for="obras" class="form-label">Obras</label>
                                    <div class="multiselect-fixer">
                                        <select th:class="'form-select' + ${livro.exceptionMap.get('obras') == null ? '' : ' is-invalid'}" th:field="*{obras}" multiple="multiple">
                                            <option th:each="obra:${livro.listaObras}" th:value="${obra.id}" th:text="${obra.nome}" th:selected="${livro.obras.contains(obra.id)}"></option>
                                        </select>
                                    </div>
                                    <div id="obras:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('obras')}"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="isbn13" class="form-label">ISBN-13</label>
                                    <input type="text" th:class="'form-control text-end' + ${livro.exceptionMap.get('isbn13') == null ? '' : ' is-invalid'}" th:field="*{isbn13}">
                                    <div id="isbn13:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('isbn13')}"></div>
                                </div>
                                <div class="col">
                                    <label for="isbn10" class="form-label">ISBN-10</label>
                                    <input type="text" th:class="'form-control text-end' + ${livro.exceptionMap.get('isbn10') == null ? '' : ' is-invalid'}" th:field="*{isbn10}">
                                    <div id="isbn10:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('isbn10')}"></div>
                                </div>
                                <div class="col">
                                    <label for="ano" class="form-label">Ano</label>
                                    <input type="number" th:class="'form-control text-end' + ${livro.exceptionMap.get('ano') == null ? '' : ' is-invalid'}" th:field="*{ano}">
                                    <div id="ano:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('ano')}"></div>
                                </div>
                                <div class="col">
                                    <label for="paginas" class="form-label">Páginas</label>
                                    <input type="number" min="1" th:class="'form-control text-end' + ${livro.exceptionMap.get('paginas') == null ? '' : ' is-invalid'}" th:field="*{paginas}">
                                    <div id="paginas:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('paginas')}"></div>
                                </div>
                                <div class="col">
                                    <label for="edicao" class="form-label">Edição</label>
                                    <input type="text" th:class="'form-control text-end' + ${livro.exceptionMap.get('edicao') == null ? '' : ' is-invalid'}" th:field="*{edicao}">
                                    <div id="edicao:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('edicao')}"></div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="editoras" class="form-label">Editoras</label>
                                    <div class="multiselect-fixer">
                                        <select th:class="'form-select' + ${livro.exceptionMap.get('editoras') == null ? '' : ' is-invalid'}" th:field="*{editoras}" multiple="multiple">
                                            <option th:each="editora:${livro.listaEditoras}" th:value="${editora.id}" th:text="${editora.nome}" th:selected="${livro.editoras.contains(editora.id)}"></option>
                                        </select>
                                    </div>
                                    <div id="editoras:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('editoras')}"></div>
                                </div>
                                <div class="col">
                                    <label for="etiquetas" class="form-label">Etiquetas</label>
                                    <div class="multiselect-fixer">
                                        <select th:class="'form-select' + ${livro.exceptionMap.get('etiquetas') == null ? '' : ' is-invalid'}" th:field="*{etiquetas}" multiple="multiple">
                                            <option th:each="etiqueta:${livro.listaEtiquetas}" th:value="${etiqueta.id}" th:text="${etiqueta.nome}" th:selected="${livro.etiquetas.contains(etiqueta.id)}"></option>
                                        </select>
                                    </div>
                                    <div id="etiquetas:exception" class="invalid-feedback" th:text="${livro.getExceptionMessage('etiquetas')}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="actions" class="d-none">
                    <div class="row">
                        <div class="col">
                            <button id="actionIncluir" formmethod="post" th:formaction="@{/livro}" type="submit" class="btn btn-success d-none"><span class="whiteBorder">✅</span> Incluir</button>
                            <button id="actionAlterar" formmethod="post" th:formaction="@{/livro/__${livro.id}__}" type="submit" class="btn btn-success d-none"><span class="whiteBorder">✅</span> Alterar</button>
                            <button id="actionExcluir" formmethod="post" th:formaction="@{/livro/__${livro.id}__}" type="submit" class="btn btn-danger d-none"><span class="whiteBorder">✅</span> Confirmar exclusão</button>
                            <button id="actionCancelar" type="button" class="btn btn-secondary"><span class="whiteBorder">❌</span> Cancelar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
