<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_fragments::head}"></head>
    <script>
        $(document).ready( function () {
            const options = DATATABLE_COMMON_OPTIONS;
            options.buttons.push({
                text: '<span class="whiteBorder">➕</span> Incluir',
                className: 'btn-primary',
                action: function ( e, dt, node, config ) {
                    window.location = "/livro";
                }
            });
            options.columnDefs = [
                {
                    targets: 0,
                    className: "tableCellTruncate"
                },
                {
                    targets: 1,
                    className: "tableCellShowAll"
                },
                {
                    targets: 2,
                    className: "tableCellTruncate"
                },
                {
                    targets: 3,
                    className: "tableCellShowAll"
                },
                {
                    targets: 4,
                    className: "tableCellShowAll"
                },
                {
                    targets: 5,
                    className: "tableCellShowAll"
                },
                {
                    targets: 6,
                    className: "tableCellShowAll dt-body-right"
                },
                {
                    targets: 7,
                    className: "tableCellTruncate"
                },
                {
                    targets: 8,
                    className: "tableCellTruncate"
                },
                {
                    targets: 9,
                    className: "tableCellTruncate"
                },
                {
                    targets: 10,
                    className: "tableCellShowAll"
                }
            ];
            $('table.datatable').DataTable(options);
        });
    </script>
    <body>
        <nav th:replace="~{_fragments::nav}"></nav>
        <div class="container-fluid">
            <h1>Livros</h1>
            <div class="initialSpinner spinner-border"></div>
            <table id="livros" class="table datatable table-sm table-striped table-hover initiallyHidden">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Obras</th>
                        <th>Autores</th>
                        <th>Ano</th>
                        <th>ISBN</th>
                        <th>Páginas</th>
                        <th>Edição</th>
                        <th>Editoras</th>
                        <th>Coleção</th>
                        <th>Etiquetas</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="livro:${livros}">
                        <td>
                            <a th:href="'/livro/' + ${livro.id}" th:text="${livro.titulo}"></a>
                        </td>
                        <td th:text="${livro.qtdObras}"></td>
                        <td>
                            <span th:text="${livro.autorPrincipal}"></span>
                            <span class="badge text-bg-secondary ml-2" th:text="'+' + ${livro.qtdOutrosAutores}" th:if="${livro.qtdOutrosAutores > 0}"></span>
                        </td>
                        <td th:text="${livro.ano}"></td>
                        <td th:text="${livro.isbn}"></td>
                        <td th:text="${livro.paginas}"></td>
                        <td th:text="${livro.edicao}"></td>
                        <td>
                            <span th:text="${livro.editoraPrincipal}"></span>
                            <span class="badge text-bg-secondary ml-2" th:text="'+' + ${livro.qtdOutrasEditoras}" th:if="${livro.qtdOutrasEditoras > 0}"></span>
                        </td>
                        <td th:text="${livro.colecao}"></td>
                        <td th:text="${livro.etiquetas}"></td>
                        <td th:text="${livro.status}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
