<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{_fragments::head}"></head>
    <script>
        $(document).ready( function () {
            const options = DATATABLE_COMMON_OPTIONS;
            options.buttons.push({
                text: '<span class="whiteBorder">➕</span> Incluir',
                className: 'btn-primary',
                action: function ( e, dt, node, config ) {
                    window.location = "/obra";
                }
            });
            $('table.datatable').DataTable(options);
        });
    </script>
    <body>
        <nav th:replace="~{_fragments::nav}"></nav>
        <div class="container-fluid">
            <h1>Obras</h1>
            <div class="initialSpinner spinner-border"></div>
            <table id="obras" class="table datatable table-sm table-striped table-hover initiallyHidden">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Autor(es)</th>
                        <th>Livros</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="obra:${obras}">
                        <td>
                            <a th:href="'/obra/' + ${obra.id}" th:text="${obra.titulo}"></a>
                        </td>
                        <td>
                            <span th:text="${obra.autorPrincipal}"></span>
                            <span class="badge text-bg-secondary ml-2" th:text="'+' + ${obra.qtdOutrosAutores}" th:if="${obra.qtdOutrosAutores > 0}"></span>
                        </td>
                        <td>
                            <span th:text="${obra.qtdLivros}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
