<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Mt'">
	<head>
		<title th:text="${htmlTitle}"></title>
		<style>
			.estrutura th {
				text-align: center;
			}

			.estrutura th,
			.estrutura td {
				padding: 0rem .2rem;
			}

			.estrutura td.numCapitulo,
			.estrutura td.numVersiculo {
				text-align: right;
				vertical-align: top;
				width: 1%;
			}

			.estrutura td.textoVersiculo {
				vertical-align: top;
			}

			/* Formatação do texto */

			.estrutura p {
				margin-bottom: 0;
			}

			.estrutura .titulo1 {
				margin-left: 0;
				font-weight: bold;
			}

			.estrutura .titulo2 {
				margin-left: 10pt;
			}
		</style>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li class="breadcrumb-item">Estrutura</li>
					<li class="breadcrumb-item active" th:text="${htmlTitle}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<img src="/img/estudos-32.png">
					<span th:text="${htmlTitle}"></span>
				</span>
			</h1>
			<th:block th:replace="~{estudos/biblia/_fragments :: toolbar_minhas_biblias()}"></th:block>
			<table class="table table-bordered estrutura">
				<thead>
					<tr>
						<th title="Capítulo">c</th>
						<th title="Versículo">v</th>
						<th class="toggleCNBB2008">CNBB2008</th>
						<th class="toggleCNBB2019">CNBB2019</th>
					</tr>
				</thead>
				<tbody>
					<!-- Capítulo 1 -->
					<tr>
						<td rowspan="2" class="numCapitulo">1</td>
						<td class="numVersiculo">1-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								O NASCIMENTO DO MESSIAS
							</p>
							<p class="titulo2">
								Genealogia de Jesus
							</p>
						</td>
						<td class="titulo toggleCNBB2019">
							<p class="titulo1">
								O NASCIMENTO DO MESSIAS
							</p>
							<p class="titulo2">
								A origem humana de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Nascimento de Jesus
							</p>
						</td>
						<td class="titulo toggleCNBB2019">
							<p class="titulo2">
								A origem divina de Jesus
							</p>
						</td>
					</tr>

					<!-- Capítulo 2 -->
					<tr>
						<td rowspan="3" class="numCapitulo">2</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os magos do Oriente
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-18</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A fuga para o Egito
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">19-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Volta do Egito para Nazaré
							</p>
						</td>
					</tr>

					<!-- Capítulo 3 -->
					<tr>
						<td rowspan="2" class="numCapitulo">3</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								O BATISMO POR JOÃO E A PROCLAMAÇÃO DO REINO E AS OBRAS DO MESSIAS
							</p>
							<p class="titulo2">
								João Batista anuncia a proximidade do Reino
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O batismo de Jesus por João
							</p>
						</td>
					</tr>

					<!-- Capítulo 4 -->
					<tr>
						<td rowspan="4" class="numCapitulo">4</td>
						<td class="numVersiculo">1-11</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A tentação no deserto
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">12-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Pregação inicial de Jesus na Galiléia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Vocação dos primeiros discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Ensino e curas pela Galiléia
							</p>
						</td>
					</tr>

					<!-- Capítulo 5 -->
					<tr>
						<td rowspan="9" class="numCapitulo">5</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DA MONTANHA
							</p>
							<p class="titulo2">
								Bem-aventuranças
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-16</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Sal e luz
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">17-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Jesus e a Lei: a nova justiça
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não cometer homicídio
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não cometer adultério
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">31-32</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não repudiar a esposa
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">33-37</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não jurar
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">38-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Olho por olho
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">43-48</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Amor aos inimigos
							</p>
						</td>
					</tr>

					<!-- Capítulo 6 -->
					<tr>
						<td rowspan="5" class="numCapitulo">6</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A esmola
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A oração. O Pai-nosso
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-18</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O jejum
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">19-24</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O tesouro, os olhos, o dinheiro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">25-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os lírios do campo
							</p>
						</td>
					</tr>

					<!-- Capítulo 7 -->
					<tr>
						<td rowspan="7" class="numCapitulo">7</td>
						<td class="numVersiculo">1-6</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não julgar, mas ter critério
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">7-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O pedido confiante e a "regra de ouro"
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As duas portas e os dois caminhos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os falsos profetas. A árvore e os frutos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os verdadeiros discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">24-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A casa construída sobre a rocha
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">28-29</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Ensino com autoridade
							</p>
						</td>
					</tr>

					<!-- Capítulo 8 -->
					<tr>
						<td rowspan="7" class="numCapitulo">8</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								AS OBRAS DO MESSIAS
							</p>
							<p class="titulo2">
								Cura de um leproso
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O servo do centurião
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A sogra de Pedro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Curas diversas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Exigências do seguimento
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A tempestade acalmada
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">28-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os possessos de Gadara
							</p>
						</td>
					</tr>

					<!-- Capítulo 9 -->
					<tr>
						<td rowspan="7" class="numCapitulo">9</td>
						<td class="numVersiculo">1-8</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O paralítico
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">9-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A vocação de Mateus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Sobre jejum e vinho novo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A mulher com hemorragias e a filha de Jairo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-31</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os dois cegos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">32-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O possesso mudo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">35-38</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DA MISSÃO
							</p>
							<p class="titulo2">
								A compaixão de Jesus e a urgência da missão
							</p>
						</td>
					</tr>

					<!-- Capítulo 10 -->
					<tr>
						<td rowspan="6" class="numCapitulo">10</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A escolha dos Doze
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Instruções missionárias aos Doze
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As perseguições fazem parte da missão dos discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">26-33</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Testemunhar sem medo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">34-39</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não a paz, mas a espada
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">40-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Acolher o enviado é acolher a quem o envia
							</p>
						</td>
					</tr>

					<!-- Capítulo 11 -->
					<tr>
						<td rowspan="4" class="numCapitulo">11</td>
						<td class="numVersiculo">1-6</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								A OBRA DO MESSIAS QUESTIONADA
							</p>
							<p class="titulo2">
								A pergunta de João Batista
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">7-19</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								João, o Reino e a geração presente
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">20-24</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A incredulidade das cidades da Galiléia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">25-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A revelação aos pequenos
							</p>
						</td>
					</tr>

					<!-- Capítulo 12 -->
					<tr>
						<td rowspan="8" class="numCapitulo">12</td>
						<td class="numVersiculo">1-8</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Arrancando espigas no sábado
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">9-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A mão seca curada no sábado
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-21</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Jesus, o Servo de Deus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">22-32</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Cura do cego e mudo; o pecado contra o Espírito Santo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">33-37</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A árvore e os frutos, o coração e as palavras
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">38-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O sinal de Jonas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">43-45</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A volta do espírito impuro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">46-50</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A mãe e os irmãos de Jesus
							</p>
						</td>
					</tr>

					<!-- Capítulo 13 -->
					<tr>
						<td rowspan="11" class="numCapitulo">13</td>
						<td class="numVersiculo">1-9</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DAS PARÁBOLAS
							</p>
							<p class="titulo2">
								O semeador
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">10-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O porquê das parábolas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Explicação da parábola do semeador
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">24-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O joio e o trigo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">31-33</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O grão de mostarda e o fermento
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">34-35</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As parábolas como cumprimento das Escrituras
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">36-43</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Explicação da parábola do joio
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">44-46</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O tesouro e a pérola
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">47-50</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A rede
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">51-52</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O escriba instruido no Reino
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">53-58</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								PELA CRUZ, À GLÓRIA TREVAS E LUZ AO CONSTITUIR A COMUNIDADE
							</p>
							<p class="titulo2">
								Jesus em sua própria terra
							</p>
						</td>
					</tr>

					<!-- Capítulo 14 -->
					<tr>
						<td rowspan="4" class="numCapitulo">14</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Herodes vê em Jesus João Batista redivivo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-21</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Primeira multiplicação dos pães
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">22-33</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Caminhando sobre as águas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">34-36</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Curas em Genesaré
							</p>
						</td>
					</tr>

					<!-- Capítulo 15 -->
					<tr>
						<td rowspan="5" class="numCapitulo">15</td>
						<td class="numVersiculo">1-9</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Jesus e as tradições humanas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">10-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Puro e impuro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-28</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A mulher cananéia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">29-31</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Curas diversas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">32-39</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Segunda multiplicação dos pães
							</p>
						</td>
					</tr>

					<!-- Capítulo 16 -->
					<tr>
						<td rowspan="4" class="numCapitulo">16</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Pedido de um sinal
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O fermento dos fariseus e saduceus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Profissão de fé de Pedro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-28</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Primeiro anúncio da paixão
							</p>
						</td>
					</tr>

					<!-- Capítulo 17 -->
					<tr>
						<td rowspan="5" class="numCapitulo">17</td>
						<td class="numVersiculo">1-9</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A transfiguração
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">10-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A volta de Elias
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-21</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O menino epilético
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">22-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Segundo anúncio da Paixão
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">24-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O imposto do templo
							</p>
						</td>
					</tr>

					<!-- Capítulo 18 -->
					<tr>
						<td rowspan="5" class="numCapitulo">18</td>
						<td class="numVersiculo">1-5</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DA COMUNIDADE
							</p>
							<p class="titulo2">
								Quem é o maior?
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">6-11</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não causar a queda dos pequenos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">12-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A ovelha perdida
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A correção fraterna e a oração em comum
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-35</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O perdão. Parábola do servo cruel
							</p>
						</td>
					</tr>

					<!-- Capítulo 19 -->
					<tr>
						<td rowspan="6" class="numCapitulo">19</td>
						<td class="numVersiculo">1-2</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								CONTROVÉRSIAS EM JERUSALÉM
							</p>
							<p class="titulo2">
								Partida para a Judéia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">3-9</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O repúdio da mulher
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">10-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não casar-se, por causa do Reino
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Jesus abençoa as crianças
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O jovem rico
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A recompensa do Reino
							</p>
						</td>
					</tr>

					<!-- Capítulo 20 -->
					<tr>
						<td rowspan="4" class="numCapitulo">20</td>
						<td class="numVersiculo">1-16</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os trabalhadores na vinha
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">17-19</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Terceiro anúncio da Paixão
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">20-28</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O pedido dos filhos de Zebedeu
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">29-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os cegos de Jericó
							</p>
						</td>
					</tr>

					<!-- Capítulo 21 -->
					<tr>
						<td rowspan="6" class="numCapitulo">21</td>
						<td class="numVersiculo">1-11</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Entrada em Jerusalém
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">12-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A purificação do templo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Maldição da figueira
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A questão da autoridade
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">28-32</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os dois filhos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">33-46</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os agricultores assassinos
							</p>
						</td>
					</tr>

					<!-- Capítulo 22 -->
					<tr>
						<td rowspan="5" class="numCapitulo">22</td>
						<td class="numVersiculo">1-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O banquete de casamento e o traje de festa
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O imposto pago a César
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-33</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A ressurreição dos mortos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">34-40</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O principal mandamento
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">41-46</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O senhor e filho de Davi
							</p>
						</td>
					</tr>

					<!-- Capítulo 23 -->
					<tr>
						<td rowspan="3" class="numCapitulo">23</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Advertência a respeito dos escribas e dos fariseus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-36</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Sete "ais" dirigidos aos escribas e aos fariseus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">37-39</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Lamento sobre Jerusalém
							</p>
						</td>
					</tr>

					<!-- Capítulo 24 -->
					<tr>
						<td rowspan="9" class="numCapitulo">24</td>
						<td class="numVersiculo">1-2</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO ESCATOLÓGICO
							</p>
							<p class="titulo2">
								Anúncio da destruição do templo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">3-8</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O começo das dores
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">9-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As perseguições
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-28</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A grande tribulação
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">29-31</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A vinda do Filho do Homem
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">32-36</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A lição da figueira
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">37-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os dias de Noé
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">43-44</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O vigilante dono de casa
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">45-51</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O servo fiel e prudente
							</p>
						</td>
					</tr>

					<!-- Capítulo 25 -->
					<tr>
						<td rowspan="3" class="numCapitulo">25</td>
						<td class="numVersiculo">1-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As dez virgens
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os talentos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">31-46</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O julgamento das nações
							</p>
						</td>
					</tr>

					<!-- Capítulo 26 -->
					<tr>
						<td rowspan="10" class="numCapitulo">26</td>
						<td class="numVersiculo">1-5</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								MORTE E RESSURREIÇÃO
							</p>
							<p class="titulo2">
								A conspiração contra Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">6-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A unção em Betânia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-16</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Judas combina a traição
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">17-19</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A preparação da Ceia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">20-29</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A Última Ceia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">30-35</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Predição da desistência
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">36-46</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A oração no Getsêmani
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">47-56</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Prisão de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">57-68</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Diante do sinédrio
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">69-75</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A negação de Pedro
							</p>
						</td>
					</tr>

					<!-- Capítulo 27 -->
					<tr>
						<td rowspan="8" class="numCapitulo">27</td>
						<td class="numVersiculo">1-2</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Diante de Pilatos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">3-10</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A morte de Judas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">11-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Interrogatório de Pilatos. Barrabás
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-31a</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O escarnecimento do "rei dos judeus"
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">31b-44</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A crucificação
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">45-56</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A morte de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">57-61</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A sepultura
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">62-66</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A guarda no túmulo
							</p>
						</td>
					</tr>

					<!-- Capítulo 28 -->
					<tr>
						<td rowspan="4" class="numCapitulo">28</td>
						<td class="numVersiculo">1-8</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A ressurreição
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">9-10</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Aparição às mulheres
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">11-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A trama dos sumos sacerdotes
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A missão deixada pelo Ressuscitado
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
