<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Mt'">
	<head>
		<title th:text="${htmlTitle}"></title>
		<style>
			.estrutura th {
				text-align: center;
			}

			.estrutura th,
			.estrutura td {
				padding: 0rem .2rem;
			}

			.estrutura td.numCapitulo,
			.estrutura td.numVersiculo {
				text-align: right;
				vertical-align: top;
				width: 1%;
			}

			.estrutura td.textoVersiculo {
				vertical-align: top;
			}

			/* Formatação do texto */

			.estrutura p {
				margin-bottom: 0;
			}

			.estrutura .titulo1 {
				margin-left: 0;
				font-weight: bold;
			}

			.estrutura .titulo2 {
				margin-left: 10pt;
			}
		</style>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li class="breadcrumb-item">Estrutura</li>
					<li class="breadcrumb-item active" th:text="${htmlTitle}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<img src="/img/estudos-32.png">
					<span th:text="${htmlTitle}"></span>
				</span>
			</h1>
			<th:block th:replace="~{estudos/biblia/_fragments :: toolbar_minhas_biblias()}"></th:block>
			<table class="table table-bordered estrutura">
				<thead>
					<tr>
						<th title="Capítulo">c</th>
						<th title="Versículo">v</th>
						<th class="toggleCNBB2008">CNBB2008</th>
					</tr>
				</thead>
				<tbody>
					<!-- Capítulo 1 -->
					<tr>
						<td rowspan="2" class="numCapitulo">1</td>
						<td class="numVersiculo">1-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								O NASCIMENTO DO MESSIAS
							</p>
							<p class="titulo2">
								Genealogia de Jesus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Nascimento de Jesus
							</p>
						</td>
					</tr>

					<!-- Capítulo 2 -->
					<tr>
						<td rowspan="3" class="numCapitulo">2</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os magos do Oriente
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-18</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A fuga para o Egito
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">19-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Volta do Egito para Nazaré
							</p>
						</td>
					</tr>

					<!-- Capítulo 3 -->
					<tr>
						<td rowspan="2" class="numCapitulo">3</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								O BATISMO POR JOÃO E A PROCLAMAÇÃO DO REINO E AS OBRAS DO MESSIAS
							</p>
							<p class="titulo2">
								João Batista anuncia a proximidade do Reino
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O batismo de Jesus por João
							</p>
						</td>
					</tr>

					<!-- Capítulo 4 -->
					<tr>
						<td rowspan="4" class="numCapitulo">4</td>
						<td class="numVersiculo">1-11</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A tentação no deserto
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">12-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Pregação inicial de Jesus na Galiléia
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Vocação dos primeiros discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Ensino e curas pela Galiléia
							</p>
						</td>
					</tr>

					<!-- Capítulo 5 -->
					<tr>
						<td rowspan="9" class="numCapitulo">5</td>
						<td class="numVersiculo">1-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DA MONTANHA
							</p>
							<p class="titulo2">
								Bem-aventuranças
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-16</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Sal e luz
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">17-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Jesus e a Lei: a nova justiça
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não cometer homicídio
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-30</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não cometer adultério
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">31-32</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não repudiar a esposa
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">33-37</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não jurar
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">38-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Olho por olho
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">43-48</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Amor aos inimigos
							</p>
						</td>
					</tr>

					<!-- Capítulo 6 -->
					<tr>
						<td rowspan="5" class="numCapitulo">6</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A esmola
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A oração. O Pai-nosso
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-18</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O jejum
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">19-24</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O tesouro, os olhos, o dinheiro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">25-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os lírios do campo
							</p>
						</td>
					</tr>

					<!-- Capítulo 7 -->
					<tr>
						<td rowspan="7" class="numCapitulo">7</td>
						<td class="numVersiculo">1-6</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não julgar, mas ter critério
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">7-12</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O pedido confiante e a "regra de ouro"
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">13-14</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As duas portas e os dois caminhos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">15-20</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os falsos profetas. A árvore e os frutos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">21-23</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os verdadeiros discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">24-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A casa construída sobre a rocha
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">28-29</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Ensino com autoridade
							</p>
						</td>
					</tr>

					<!-- Capítulo 8 -->
					<tr>
						<td rowspan="7" class="numCapitulo">8</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								AS OBRAS DO MESSIAS
							</p>
							<p class="titulo2">
								Cura de um leproso
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O servo do centurião
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A sogra de Pedro
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Curas diversas
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-22</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Exigências do seguimento
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">23-27</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A tempestade acalmada
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">28-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os possessos de Gadara
							</p>
						</td>
					</tr>

					<!-- Capítulo 9 -->
					<tr>
						<td rowspan="7" class="numCapitulo">9</td>
						<td class="numVersiculo">1-8</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O paralítico
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">9-13</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A vocação de Mateus
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">14-17</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Sobre jejum e vinho novo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">18-26</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A mulher com hemorragias e a filha de Jairo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">27-31</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Os dois cegos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">32-34</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								O possesso mudo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">35-38</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo1">
								SERMÃO DA MISSÃO
							</p>
							<p class="titulo2">
								A compaixão de Jesus e a urgência da missão
							</p>
						</td>
					</tr>

					<!-- Capítulo 10 -->
					<tr>
						<td rowspan="6" class="numCapitulo">10</td>
						<td class="numVersiculo">1-4</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								A escolha dos Doze
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">5-15</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Instruções missionárias aos Doze
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">16-25</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								As perseguições fazem parte da missão dos discípulos
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">26-33</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Testemunhar sem medo
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">34-39</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Não a paz, mas a espada
							</p>
						</td>
					</tr>
					<tr>
						<td class="numVersiculo">40-42</td>
						<td class="titulo toggleCNBB2008">
							<p class="titulo2">
								Acolher o enviado é acolher a quem o envia
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
