<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- https://getbootstrap.com/docs/5.3/getting-started/download/ -->
		<link rel="stylesheet" th:href="@{/3rdp/bootstrap.min.css}">
		<script th:src="@{/3rdp/bootstrap.bundle.min.js}"></script>
		<!-- baú -->
		<meta name="description" content="Baú do Zé">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/baudoze.css">
	</head>
	<body>
		<!-- Header -->
		<nav th:fragment="nav" class="navbar navbar-expand-sm navbar-dark bg-dark d-print-none">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><img src="/img/bau-16.png"> Baú do Zé</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav me-auto mb-2 mb-sm-0">
						<li class="nav-item">
							<a class="nav-link" href="/tarefa"><img src="/img/tarefa-16.png"> Tarefas</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div th:fragment="mensagens" id="mensagens" class="mt-3">
			<!-- exception -->
			<dl th:if="${exception != null}">
				<div class="alert alert-danger alert-dismissible">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<h1>ERRO 😬</h1>
					<dt>Exception</dt>
					<dd th:text="${exception.class.name}"></dd>
					<dt>Message</dt>
					<dd th:text="${exception.message}"></dd>
					<dt>
						<a data-bs-toggle="collapse" href="#exceptionStackTrace" role="button" aria-expanded="false" aria-controls="exceptionStackTrace">Stack trace</a>
					</dt>
					<dd class="collapse" id="exceptionStackTrace">
						<pre><code th:text="${#strings.listJoin(exception.stackTrace,'&#10;')}"></code></pre>
					</dd>
				</div>
			</dl>
		</div>
		<!-- Footer -->
		<footer th:fragment="footer" class="bg-dark d-print-none">
			<p class="text-center text-white">Este código é livre e pode ser baixado do <a href="https://github.com/zcla/baudoze" target="_blank">GitHub<img class="align-text-bottom" src="/img/linkExterno.svg"></a>.</p>
		</footer>
	</body>
</html>
