<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Minhas Bíblias'">
	<head>
		<title th:text="${htmlTitle}"></title>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/minhas/_fragments :: breadcrumb_index(active=true)}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<span th:text="${htmlTitle}"></span>
				</span>
				<div id="toolbar" class="btn-toolbar float-end d-print-none">
				</div>
			</h1>
			<div id="crudLista" class="mb-3">
				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th>Código</th>
							<th colspan="2">Nome</th>
							<th>Editora(s)</th>
							<th>Edição</th>
							<th>Publicação</th>
							<th>Idioma</th>
							<th>ISBN</th>
							<th>Formato</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linha : ${data.biblias}">
							<td th:if="${linha.codigo}" th:rowspan="${linha.bibliaRowspan}"><a th:href="|/estudos/biblia/minhas/${linha.codigo}|" th:text="${linha.codigo}"></a></td>
							<td th:if="${linha.nome}" th:text="${linha.nome}" th:rowspan="${linha.bibliaRowspan}" th:colspan="|${linha.bibliaRowspan == 1 ? 2 : 1}|"></td>
							<td th:if="${linha.nomeVolume}" th:text="${linha.nomeVolume}"></td>
							<td class="tdWithHorizontalListGroup">
								<ul class="list-group list-group-horizontal">
									<li th:each="editora : ${linha.editoras}" class="list-group-item" th:text="${editora}"></li>
								</ul>
							</td>
							<td th:text="${linha.edicao}"></td>
							<td th:text="${linha.publicacao}"></td>
							<td class="tdWithHorizontalListGroup">
								<ul class="list-group list-group-horizontal">
									<li th:each="idioma : ${linha.idiomas}" class="list-group-item">
										<span th:class="|fi fi-${#strings.arraySplit(idioma, '-')[1]}|"></span>
										<span th:text="${idioma}"></span>
									</li>
								</ul>
							</td>
							<td th:text="${linha.isbn}"></td>
							<td th:text="${linha.formato}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
