<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle=|[${data.biblia.codigo}] ${data.biblia.nome}|">
	<head>
		<title th:text="${htmlTitle}"></title>
		<link rel="stylesheet" href="/estudos/biblia/minhas.css">
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/minhas/_fragments :: breadcrumb_index()}"></li>
					<li class="breadcrumb-item active" th:text="${htmlTitle}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<span th:text="${htmlTitle}"></span>
				</span>
				<div id="toolbar" class="btn-toolbar float-end d-print-none">
				</div>
			</h1>
			<div id="anotacoes" class="mb-3">
				<div class="row">
					<div th:each="volume : ${data.biblia.volumes}" class="col">
						<div class="card">
							<div class="card-header">
								<h5 th:if="${volume.nome != null}" class="card-title" th:text="${volume.nome}"></h5>
								<h5 th:if="${volume.nome == null}" class="card-title">Detalhes</h5>
							</div>
							<div class="card-body">
								<table class="table table-sm table-borderless table-hover">
									<tbody>
										<tr>
											<th>Editoras</th>
											<td>
												<div th:each="editora : ${volume.editoras}">
													<span th:text="${editora}"></span>
												</div>
											</td>
										</tr>
										<tr th:if="${volume.edicao}">
											<th>Edição</th>
											<td th:text="${volume.edicao}"></td>
										</tr>
										<tr>
											<th>Publicação</th>
											<td th:text="${volume.publicacao}"></td>
										</tr>
										<tr>
											<th>Idiomas</th>
											<td>
												<div th:each="idioma : ${volume.idiomas}">
													<span th:class="|fi fi-${#strings.arraySplit(idioma, '-')[1]}|"></span>
													<span th:text="${idioma}"></span>
												</div>
											</td>
										</tr>
										<tr>
											<th>ISBN</th>
											<td th:text="${volume.isbn}"></td>
										</tr>
										<tr>
											<th>Formato</th>
											<td th:text="${volume.formatoDisplay}"></td>
										</tr>
										<tr th:if="${volume.primeiraEdicao}">
											<th>Primeira edição</th>
											<td>
												<span th:text="${volume.primeiraEdicao.publicacao}"></span>
												<i th:if="${volume.primeiraEdicao.referencia}">
													<span th:text="|(${volume.primeiraEdicao.referencia})|"></span>
												</i>
											</td>
										</tr>
										<tr th:if="${volume.nihilObstat}">
											<th>Nihil obstat</th>
											<td><a th:href="${volume.nihilObstat.link}" target="_blank" th:text="${volume.nihilObstat.nome}"></a></td>
										</tr>
										<tr th:if="${volume.imprimatur}">
											<th>Imprimatur</th>
											<td><a th:href="${volume.imprimatur.link}" target="_blank" th:text="${volume.imprimatur.nome}"></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div th:if="${data.biblia.fontes}" class="col">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Fontes</h5>
							</div>
							<div class="card-body">
								<ul class="list-group list-group-flush">
									<li th:each="fonte : ${data.biblia.fontes}" class="list-group-item">
										<b th:text="${fonte.codigo}"></b>
										<span th:text="${fonte.citacao}" class="formatarMarkDown"></span>
										<i th:text="|(${fonte.referencia})|"></i>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<th:block th:if="${data.biblia.citacaoGrupos}">
						<div th:each="grupo : ${data.biblia.citacaoGrupos}" class="col">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title" th:text="${grupo.nome}"></h5>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li th:each="citacao : ${grupo.citacoes}" class="list-group-item">
											<blockquote class="blockquote formatarMarkDown" th:text="${citacao.citacao}"></blockquote>
											<figcaption class="blockquote-footer" th:text="${citacao.referencia}">p. XI</figcaption>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</th:block>
					<div class="col-auto">
						<div class="card">
							<img th:src="|/estudos/biblia/minhas/img/${data.biblia.codigo}.jpg|">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
