<!DOCTYPE html>
<html lang="pt-br"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{_layouts/base}"
		th:with="htmlTitle='Concordância dos Santos Evangelhos'">
	<head>
		<title th:text="${htmlTitle}"></title>
	</head>
	<body>
		<div layout:fragment="conteudo">
			<nav>
				<ol class="breadcrumb">
					<li th:replace="~{_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/_fragments :: breadcrumb_index()}"></li>
					<li th:replace="~{estudos/biblia/_fragments :: breadcrumb_index()}"></li>
					<li class="breadcrumb-item active" th:text="${htmlTitle}"></li>
				</ol>
			</nav>
			<h1>
				<span>
					<span th:text="${htmlTitle}"></span>
				</span>
				<div id="toolbar" class="btn-toolbar float-end d-print-none">
				</div>
			</h1>
			<div id="crudLista" class="mb-3">
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					Mapa do livro <a href="https://castelaeditorial.com.br/concordancia-dos-santos-evangelhos" target="_blank">Concordância dos Santos Evangelhos</a>, de <a href="https://pt.wikipedia.org/wiki/Duarte_Leopoldo_e_Silva" target="_blank">Dom Duarte Leopoldo e Silva</a>.
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th>Parte</th>
							<th>Título</th>
							<th style="text-align: center;">Mt</th>
							<th style="text-align: center;">Mc</th>
							<th style="text-align: center;">Lc</th>
							<th style="text-align: center;">Jo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linha : ${data.concordancia}">
							<td th:if="${linha.parte}" th:text="${linha.parte}" th:rowspan="${linha.parteRowspan}"></td>
							<td th:text="${linha.titulo}"></td>
							<td th:text="${linha.mt}" style="text-align: center;"></td>
							<td th:text="${linha.mc}" style="text-align: center;"></td>
							<td th:text="${linha.lc}" style="text-align: center;"></td>
							<td th:text="${linha.jo}" style="text-align: center;"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
